*{
    margin: 0;
    padding: 0;
}

.menu{
   background-color:  #192a56;;
}

.menu ul{
    text-align: center;
 }

.menu ul li{
    display: inline-block;
    margin-left: -4px;
    
}

.menu ul li a{
    color: aliceblue;
    padding: 20px 30px;
    font-size: 15px;
    text-decoration: none;
    border-right: 1px solid rgb(250, 231, 62);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  
}

.menu ul li:first-child a{
    border-left: 1px solid rgb(248, 192, 39);
}

.menu ul li:hover > a {
    background: rgb(240, 82, 205);
  
}
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute ;
    left: 0;
    top: 100%; 
    width: 180px;
    background-color: #192a56;
    border-top: 1px solid #fff;
    transition:.2s;
 
}
.menu ul li ul li{
    display: block;

}
.menu ul li ul li a {
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
}

.menu ul li ul{
 opacity: 0;
 visibility: hidden;
 transform: scaleY(0);
 transform-origin: top center;
}

.menu ul li:hover ul{
opacity: 1;
 visibility: visible;
 transform: scaleY(1);
}
  

